.App {
  text-align: left;
  margin-left: 100px;
}
.App1{
  text-align: center;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:10px;
  width:30%;
  margin:auto;
  /* border:1px solid blue; */
  justify-content: space-evenly;
  color:white;
}
.b1{
  text-align: center;
  height:30px;
  width:150px;
  background-color:aqua;
  border-radius: 10px;
  /* margin-top: 10px;
  margin-left: 10px; */
  color:white;
  padding-bottom: 20px;
}
.b2{
  text-align: center;
  height:30px;
  width:150px;
  background-color:red;
  border-radius: 10px;
  /* margin-top: 10px;
  margin-left: 10px; */
  color:white;
  padding-bottom: 20px;
}
.b1>a{
  color: white;
  text-decoration: none;
}
.b2>a{
  color: white;
  text-decoration: none;
}
.b3{
  text-align: center;
  height:30px;
  width:150px;
  background-color:yellow;
  border-radius: 10px;
  /* margin-top: 10px;
  margin-left: 10px; */
  color:white;
  padding-bottom: 20px;
}
.b4{
  text-align: center;
  height:30px;
  width:150px;
  background-color:brown;
  border-radius: 10px;
  /* margin:100px;
  margin-top: 10px; */
  /* margin-left:10px ; */
  color:white;
  padding-bottom: 20px;
}
.b5{
  text-align: center;
  height:30px;
  width:150px;
  background-color:black;
  border-radius: 10px;
  /* margin:100px;
  margin-top: 10px;
  margin-left:10px ; */
  color:white;
  padding-bottom: 20px;
}
.b6{
  text-align: center;
  height:30px;
  width:150px;
  background-color:purple;
  border-radius: 10px;
  /* margin:100px;
  margin-top: 10px;
  margin-left:10px ; */
  color:white;
  padding-bottom: 20px;
}
.b7{
  text-align: center;
  height:30px;
  width:150px;
  background-color:green;
  border-radius: 10px;
  /* margin:100px;
  margin-top: 10px;
  margin-left:10px ; */
  color:white;
  padding-bottom: 20px;
}
.b8{
  text-align: center;
  height:30px;
  width:150px;
  background-color:greenyellow;
  border-radius: 10px;
  /* margin:100px;
  margin-top: 10px;
  margin-left:10px ; */
  color:white;
  padding-bottom: 20px;
}
body{
  text-align: left;
}
a{
  color: white;
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
